.container{
    background: #f7f7f7;
    margin: 30px;
    border: 1px soli #ccc;
    border-radius: 20px;
    padding: 30px;
}

.container-menu{
    background: #f0f0f0;
    margin: 30px;
    border: 1px soli #ccc;
    border-radius: 20px;
    padding: 30px;
    .menu a{
        padding: 0px 30px;
    }
}